@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600&display=swap');

:root{
    /* --yellow:#f9ca24; */
    /* --yellow:rgb(168,141,223); */
    --yellow:rgb(142, 201, 23);
    /* background: transparent; */
}

*{
    font-family: 'Nunito', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none; border:none;
    text-transform: capitalize;
    transition: all .2s linear;
}

*::selection{
    background:var(--yellow);
    color:#333;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}

html::-webkit-scrollbar{
    width:1.4rem;
}

html::-webkit-scrollbar-track{
    background:#222;
}

html::-webkit-scrollbar-thumb{
    background:var(--yellow);
}

body{
    /* background:#111; */
    /* background:  rgb(37,42,44); */
    /* background: rgb(125, 30, 35); */
    background: rgb(33, 33, 33);
    overflow-x: hidden;
    padding-left: 35rem;
}

section{
    min-height: 100vh;
    padding:1rem;
}

.btn{
    padding:.7rem 3rem;
    background:#333;
    color:#fff;
    /* color:black; */
    cursor: pointer;
    margin-top: 1rem;
    font-size: 2rem;
    border-radius: 5rem;
}

.btn i{
    padding:0 .5rem;
    font-size: 1.8rem;
}

.btn:hover{
    background:var(--yellow);
}

.heading{
    text-align: center;
    margin:0 6rem;
    font-size: 4rem;
    padding:1rem;
    border-bottom: .1rem solid #fff4;
    color:#fff;
    /* color:black; */
    /* color: rgb(0,0,124); */
}

.heading span{
    color:var(--yellow);
}

header{
    position: fixed;
    top:0; left:0;
    z-index: 1000;
    height:100%;
    width:35rem;
    /* background:#1a1a1a; */
    background: rgb(7, 7, 7);
    /* background: rgb(102,102,102); */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    text-align: center;
}

header .user img{
    height:17rem;
    width:17rem;
    border-radius: 50%;
    /* object-fit: cover; */
    margin-top: 3rem;
    margin-bottom: 1rem;
    border:.7rem solid var(--yellow);
}

header .user .name{
    font-size: 3.5rem;
    color:#fff;
    /* color:black; */
}

header .user .post{
    font-size: 2rem;
    color:#eee;
    /* color:black; */
}

header .navbar{
    width:100%;
}

header .navbar ul{
    list-style: none;
    padding:1rem 3rem;
}


header .navbar ul li a{
    display: block;
    padding:0.8rem;
    margin:0.8rem 0;
    background:#333;
    color:#fff;
    /* color:black; */
    font-size: 2rem;
    border-radius: 3rem;
}

header .navbar ul li a:hover{
    background:var(--yellow);
}

#menu{
    position: fixed;
    top:2rem; right:2rem;
    background:#333;
    /* background: rgb(102,102,102); */
    color:#fff;
    cursor: pointer;
    font-size: 2.5rem;
    padding:1rem 1.5rem;
    z-index: 1000;
    display: none;
}

.home{
    display: flex;
    justify-content: center;
    flex-flow: column;
    padding:0 15rem;
}

.home h3{
    font-size: 2.5rem;
    color:#fff;
}

.home h1{
    font-size:5rem;
    color:#fff;
}

.home h1 span{
    color:var(--yellow);
}

.home p{
    font-size:2rem;
    color:#eee;
    padding: 1rem 0;
}

.about .row{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding:1rem 0;
}

.about .row .info{
    flex:1 1 48rem;
    padding:2rem 1rem;
    padding-left: 6rem;
}

.about .row .info h3{
    font-size: 2rem;
    color:var(--yellow);
    padding:1rem 0;
    font-weight: normal;
}

.about .row .info h3 span{
    color:#eee;
    padding:0 .5rem;
}

.about .row .counter{
    flex:1 1 48rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.about .row .counter .box{
    width:20rem;
    background:#222;
    text-align: center;
    padding: 2rem;
    margin:2rem;
}

.about .row .counter .box span{
    font-size: 4rem;
    color:var(--yellow);
}

.about .row .counter .box h3{
    font-size: 2rem;
    color:#fff;
}

.education .box-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding:1rem 0;
    padding-left: 3rem;
}

.education .box-container .box{
    width:27rem;
    margin:4rem 1rem;
    padding-left: 4rem;
    border-left: .2rem solid #fff;
    position: relative;
}

.education .box-container .box span{
    font-size: 1.3rem;
    background:#222;
    color:#fff;
    border-radius: 5rem;
    padding:.5rem 2.5rem;
}

.education .box-container .box h3{
    font-size: 2rem;
    color:#fff;
    padding-top: 1.5rem;
}

.education .box-container .box p{
    font-size: 1.4rem;
    color:#eee;
    padding: 1rem 0;
}

.education .box-container .box i{
    position: absolute;
    top:-1.5rem; left:-2.5rem;
    height:5rem;
    width: 5rem;
    border-radius: 50%;
    line-height: 5rem;
    text-align: center;
    font-size: 2rem;
    color:#fff;
    background:var(--yellow);
}

.portfolio .box-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding:2rem 0;
}

.portfolio .box-container .box{
    height: 50rem;
    width:27rem;
    border-radius: 1rem;
    margin:2rem;
    margin-right: 25px;
    overflow: hidden;
    cursor: pointer;
}

.portfolio .box-container .box img{
    height:45%;
    width:100%;
    border-radius: 10px;
    /* object-fit: cover; */
}
.portfolio .box-container .box h2{
    color: #fff;
    margin: 0px;
     font-size: 14px;
    font-style: oblique;
}
.portfolio .box-container .box a{
   /* height:40%; */
   color: yellowgreen;
   font-size: 20px;
}
.portfolio .box-container .box:hover img{
    transform: scale(0.9);
}
.contact{
    margin-top: 10rem;
}
.contact .row{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    
}

.contact .row .content{
    flex:1 1 30rem;
    padding:4rem;
    padding-bottom: 0;
}

.contact .row form{
    flex:1 1 45rem;
    padding:2rem;
    margin:2rem;
    margin-bottom: 4rem;
}

.contact .row form .box{
    padding:1.5rem;
    /* margin-top: 30rem; */
    margin:2rem 0;
    background:#3333;
    color:#fff;
    text-transform: none;
    font-size: 1.7rem;
    width:100%;
}

.contact .row form .box::placeholder{
    text-transform: capitalize;
}

.contact .row form .message{
    height: 15rem;
    resize: none;
}

.contact .row .content .title{
    text-transform: uppercase;
    color:#fff;
    font-size: 3rem;
    padding-bottom: 2rem;
    /* margin-top: 30rem; */
}

.contact .row .content .info h3{
    display: flex;
    align-items: center;
    font-size: 2rem;
    color:#eee;
    padding:1rem 0;
    font-weight: normal;
}

.contact .row .content .info h3 i{
    padding-right: 1rem;
    color:var(--yellow);
}

.top{
    position: fixed;
    bottom:7.5rem; right: 2rem;
    z-index: 100;
    display: none;
}
#email{
    text-transform: lowercase;
}
#img1{
    height:3%;
    width:3%;
    margin-right: 1px;
}
#img2{
    height:3%;
    width:3%;
    margin-right: 1px; 
}
#github{
    color: #fff;
}
#git1{
   margin-top: 13px;
}
#git2{
    margin-top: 13px;
 }
#linkedin{
    color: #fff;
}
#techstack{
    color:yellowgreen;
    margin-top: 10px;
}
#techstack1{
    color:yellowgreen;
    margin-top: 10px;
}
#softskills{
    color:#fff;
    text-align: center;
    font-size: 2rem;
    /* display: flex; */
    /* padding:1rem; */
}
#sskills{
    text-align: center;
    margin:0 6rem;
    font-size: 4rem;
    padding:1rem;
    border-bottom: .1rem solid #fff4;
    color:#fff;
}
#sskills span{
    color:var(--yellow);
}

#softskills1{
    color:#fff;
    text-align: center;
    font-size: 2rem;
    /* display: flex; */
    /* padding:1rem; */
}
#sskills1{
    text-align: center;
    margin:0 6rem;
    font-size: 4rem;
    padding:1rem;
    border-bottom: .1rem solid #fff4;
    color:#fff;
}
#sskills1 span{
    color:var(--yellow);
}
.counter1{
    flex:1 1 48rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.counter1 .box1{
    width:20rem;
    background:#222;
    text-align: center;
    padding: 2rem;
    margin:2rem;
    /* position: relative; */
}



#skk>.counter1>.box1>h3{
    font-size: 2rem;
    color:#fff;
    /* animation: zoominoutsinglefeatured1 3s infinite */
    /* position: absolute; */
   
}
#imagesskills{
    color:#fff;
    text-align: center;
    font-size: 2rem;
  
}
#imagesskill{
    text-align: center;
    margin:0 6rem;
    font-size: 4rem;
    padding:1rem;
    border-bottom: .1rem solid #fff4;
    color:#fff;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    overflow: hidden;
    cursor: pointer;
    /* flex-wrap: wrap; */
   
}
.tech{
    width:47%;
    height:55%;
    margin-left: 65px;
    margin-top: 7px;
}
#Techs{
    text-align: center;
    margin:0 6rem;
    font-size: 4rem;
    padding:1rem;
    border-bottom: .1rem solid #fff4;
    color:#fff;
}
#Techs span{
    color:var(--yellow);
}
#imagesskill img{
    /* transform: scale(1.3);  */
    animation: zoominoutsinglefeatured 3s infinite ;
}
@keyframes zoominoutsinglefeatured {
    0% {
        transform: scale(1,1) ;
    }
    50% {
        transform: scale(1.2,1.2);
    }
    100% {
        transform: scale(1,1);
    }
}

/* @keyframes zoominoutsinglefeatured1 {
    0% {
        transform: scale(1,1) rotate(-3deg) ;
    }
    50% {
        transform: scale(1.2,1.2) rotate(5deg);
    }
    100% {
        transform: scale(1,1) rotate(-3deg);
    }
} */
#sskills12{
    text-align: center;
    margin:0 6rem;
    font-size: 4rem;
    padding:1rem;
    border-bottom: .1rem solid #fff4;
    color:#fff;
}
#sskills12 span{
    color:var(--yellow);
}
.statistics{
    text-align: center;
    margin-top: 850rem;
    margin:0 6rem;
   
    font-size: 4rem;
    padding:1rem;
    border-bottom: .1rem solid #fff4;
    color:#fff;
}
.statistics span{
    color:var(--yellow);
}
.clone{
    color: yellow;
    font-size:large;
}


.about .row-2{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,auto);
    flex-wrap: wrap;
    gap:0px 80px;
    align-items: center;
    
}

.about .row-2 .skills{
    flex:1 1 40rem;
    /* background: rgba(14, 209, 199, 0.968); */
    /* box-shadow: darkgoldenrod; */
    /* background-color: rgb(74, 73, 73);
    opacity: 20; */
    padding: 20px;
    border-radius: 25px;
}



.about .row-2 .skills .progress{
    padding:1rem 0;
   
}

.about .row-2 .skills .progress h3{
    display: flex;
    justify-content: space-between;
    padding:.7rem 0;
    font-size: 1.7rem;
    color:white;
    font-weight: 500;
}

.about .row-2 .skills .progress .bar{
    width:100%;
    background:rgb(175, 175, 175);
    overflow:hidden;
    height:1rem;
    border-radius: 50rem;
}

.about .row-2 .skills .progress .bar span{
    display:block;
    height:100%;
    background:var(--yellow);
    border-radius: 50rem;
}

.about .row-2 .skills:nth-child(1) .progress:nth-child(2) .bar span{
    width:85%;
}

.about .row-2 .skills:nth-child(1) .progress:nth-child(3) .bar span{
    width:90%;
}

.about .row-2 .skills:nth-child(1) .progress:nth-child(4) .bar span{
    width:80%;
}

.about .row-2 .skills:nth-child(1) .progress:nth-child(5) .bar span{
    width:75%;
}


.about .row-2 .skills:nth-child(2) .progress:nth-child(2) .bar span{
    width:95%;
}

.about .row-2 .skills:nth-child(2) .progress:nth-child(3) .bar span{
    width:80%;
}

.about .row-2 .skills:nth-child(2) .progress:nth-child(4) .bar span{
    width:90%;
}

.about .row-2 .skills:nth-child(2) .progress:nth-child(5) .bar span{
    width:85%;
}
.about .row-2 .skills:nth-child(2) .progress:nth-child(6) .bar span{
    width:85%;
}
.about .row-2 .skills:nth-child(3) .progress:nth-child(2) .bar span{
    width:90%;
}
.about .row-2 .skills:nth-child(3) .progress:nth-child(3) .bar span{
    width:80%;
}
.about .row-2 .skills:nth-child(4) .progress:nth-child(2) .bar span{
    width:85%;
}
.about .row-2 .skills:nth-child(1) .progress .bar span{
    background:rgba(36, 230, 14, 0.783);
}
.about .row-2 .skills:nth-child(2) .progress .bar span{
    background:rgb(194, 56, 18);
}
.about .row-2 .skills:nth-child(3) .progress .bar span{
    background:rgba(83, 13, 213, 0.63);
}
.about .row-2 .skills:nth-child(4) .progress .bar span{
    background:rgba(220, 13, 175, 0.724);
}
span.text-muted{
	color: white;
}

span.contrib-number{
	color: var(--yellow);
}

.position-relative{
	overflow: scroll;
}
.calendar{
	overflow: scroll;
	color: var(--yellow);
	max-width: var(1768px);
    /* border: 1px solid red; */
    
	
}
::-webkit-scrollbar {
	/* width: 13px; */
    display: none;
}
#GITH{
    text-align: center;
    margin:0 6rem;
    font-size: 4rem;
    padding:1rem;
    border-bottom: .1rem solid #fff4;
    color:#fff;
}
#GITH span{
    color:var(--yellow);
}
/* .btn{
    color:#222;
} */

/* .TechStack+.row{
	max-height: 100px;
} */















/* media queries  */

@media (max-width:1200px){

    html{
        font-size: 55%;
    }

    .home{
        padding:1rem 4rem;
    }

}

@media (max-width:991px){

   header{
       left:-120%;
   }

   #menu{
       display: block;
   }

   header.toggle{
    left:0%;
   }

   body{
       padding:0;
   }

}

@media (max-width:768px){

    html{
        font-size: 50%;
    }
 
 }

@media (max-width:400px){

    header{
        width: 100vw;
    }

    .heading{
        margin:0 3rem;
    }

    .about .row .counter .box{
        width: 100%;
    }
 
    .education .box-container .box{
        width:100%;
    }

    .portfolio .box-container .box{
        width:100%;
    }

    .contact .row form{
        margin:3rem 0;
    }

 }